  <!-- footer  -->
    <div class="container-fluid footer-partners">
        <div class="row">
          
        <div class="col-sm-2 col-xs-12">
            <img src="./img/logo-footer.png" style="height:35px; width:170px;"></a>
                </div> 
        <div class="col-sm-2 col-xs-12">
            <img src="./img/p1.png"></a>
                </div> 
        <div class="col-sm-2 col-xs-12">
            <img src="./img/p2.png"></a>
                </div> 
        <div class="col-sm-2 col-xs-12">
            <img src="./img/p3.png"></a>
                </div> 
        <div class="col-sm-2 col-xs-12">
            <img src="./img/p4.png"></a>
                </div> 
      </div> <!-- row -->
        </div>  <!-- container-fluid -->    
    
      <footer>
        <i class="fa fa-twitter"></i> &nbsp;
      <i class="fa fa-facebook-square"></i>
        </footer>
      <!-- footer  -->  
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>