<!DOCTYPE html>
<html ng-app="langapp" lang=en>
	<head>
		<title>Select Language</title>
		<% include ./partials/head %>
	</head>
	<body ng-controller="MainCtrl">
	   <!-- nav bar starts here -->
	   <% include ./partials/header %>
	  <!-- nav bar ends here -->
	  
	    <div class="container-fluid sign-up-bg_img">
		  <!-- left-side ad div -->
		    <div class="col-sm-3 col-md-4 ad-space-bg">
			    <div class="ad-space-left">
			      <img src="./img/ad2.png" class="img-responsive ad-left">
				</div>
			</div> <!-- ad-space-bg -->
	        
			<div class="col-sm-6 col-md-4 col-xs-12 sign-up-bg">
			  <!-- top-side ad div -->
			    <div class="ad-space-top">
			        <img src="./img/ad1.png" class="img-responsive ad-top">
				</div>
				<br/>
		      <!-- form starts here -->	
			    <form class="sign-up-form-bg">
				    <h3>Select your Language</h3>
                    <div class="form-group">                        
					   	<select ng-model="prop.value" ng-change="updatePath('/3')" class="form-control"               	ng-options="v for v in prop.values">
  					   	</select>
                    </div>
					
			  <!--  <button type="button" class="btn">Next</button>  -->
					<a href="/3" class="orange-btn" style="margin-top:40px;display: none;"><i class="fa fa-arrow-right"></i>&nbsp; Next</a>
				</form>
			</div>  <!-- sign-up-bg -->
		  
		  <!-- right-side ad div -->
			<div class="col-sm-3 col-md-4 ad-space-bg">
			    <div class="ad-space-right">
			      <img src="./img/ad4.png" class="img-responsive ad-right">
				</div>
			</div>
		  
		  <!-- bottom-side ad div -->
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			    <div class="ad-space-bottom">
			      <img src="./img/ad3.png" class="img-responsive ad-bottom">
				</div>
			</div>
	    
		</div> <!-- container-fluid -->
	  
	  
	   <% include ./partials/footer %>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
		<script src="js/SelectApp.js"></script>
	</body>
</html>
