<!DOCTYPE html>
<html lang=en>
	<head>
		<title>New Survey/Survey History</title>
		<% include ./partials/head %>
	</head>
	<body>
	   <!-- nav bar starts here -->
	     <% include ./partials/header %>
	  <!-- nav bar ends here -->
	  
	    <div class="container-fluid sign-up-bg_img">
		  
	        <div class="col-sm-10 col-sm-offset-1">
			    
				<div class="row">
				    <div class="col-sm-6 col-sm-offset-3">
					  <!-- top-side ad div -->
				        <div class="ad-space-top">
			                <img src="./img/ad1.png" class="img-responsive ad-top" style="margin-bottom:10px">
						</div>
				    </div> <!-- col-sm-6 -->
				</div> <!-- row -->
				
				<div class="row" style="margin:0; padding-bottom:20px; background:#fff;">
				    
				  <!-- left-side ad div -->
		            <div class="col-sm-3 col-md-3 col-lg-2">
			            <div class="ad-space-left">
			                <img src="./img/ad2.png" class="img-responsive ad-left">
				        </div>
			        </div>  <!-- col-sm-3 col-md-3 col-lg-2 -->
					
					<div class="col-sm-6 col-md-6 col-lg-8">
                        <br/>
						<br/>
					    <a href="/newsurvey" class="orange-btn" style="margin-top:40px; width:180px;"><i class="fa fa-paste"></i>&nbsp; New Survey</a>
						
						<p class="or-txt"></p>
						
						<a href="/history" class="sky-blue-btn" style="width:180px;"><i class="fa  fa-hourglass-3"></i>&nbsp; Survey History</a>
					</div> <!-- col-sm-3 -->
					
				  <!-- right-side ad div -->
			        <div class="col-sm-3 col-md-3 col-lg-2">
			            <div class="ad-space-right">
			                <img src="./img/ad4.png" class="img-responsive ad-right">
				        </div>
			        </div> <!-- col-sm-3 col-md-3 col-lg-2 -->
				<!--	
					<div class="clearfix"></div>
					
					<h3 class="select-building-type">See your Past Reports & Drafts</h3>
					<br/>
					
					<div class="col-sm-4 col-md-4 col-lg-3">
					    <div class="for-design">
						    <img src="./img/image-1.png" class="design-img" />
						</div> <!-- for-design  
						
						<p class="for-design-label">Lorem Ipsum</p>
						<button type="button" class="btn btn-xs small-green-btn">View Report &nbsp; <i class="fa fa-caret-right"></i></button>
					</div>  <!--  col-sm-4 
					
					<div class="col-sm-4 col-md-4 col-lg-3">
					    <div class="for-survey">
						    <img src="./img/image-4.png" class="survey-img" />
						</div> <!--  for-survey 
						
						<p class="for-survey-label">Lorem Ipsum</p>
						<button type="button" class="btn btn-xs small-blue-btn">Continue Draft &nbsp; <i class="fa fa-caret-right"></i></button>
					</div>  <!-- col-sm-4  
					
					<div class="col-sm-4 col-md-4 col-lg-3">
					    <div class="for-design">
						    <img src="./img/image-1.png" class="design-img" />
						</div> <!-- for-design  
						
						<p class="for-design-label">Lorem Ipsum</p>
						<button type="button" class="btn btn-xs small-green-btn">View Report &nbsp; <i class="fa fa-caret-right"></i></button>
					</div>  <!--  col-sm-4 
					
					<div class="col-sm-4 col-md-4 col-lg-3">
					    <div class="for-survey">
						    <img src="./img/image-4.png" class="survey-img" />
						</div> <!--  for-survey 
						
						<p class="for-survey-label">Lorem Ipsum</p>
						<button type="button" class="btn btn-xs small-blue-btn">Continue Draft &nbsp; <i class="fa fa-caret-right"></i></button>
					</div>  <!-- col-sm-4  -->
				  
				</div>  <!-- row --> 
				
				<div class="row">
				    <div class="col-sm-6 col-sm-offset-3">
					  <!-- bottom-side ad div -->
				        <div class="ad-space-top">
			                <img src="./img/ad3.png" class="img-responsive ad-bottom" style="margin:20px auto;">
						</div>
				    </div> <!-- col-sm-6 -->
				</div> <!-- row -->
			
			</div>  <!-- col-sm-10 -->
		
		</div> <!-- container-fluid -->
		<% include ./partials/footer %>
	</body>
</html>
