<!DOCTYPE html>
<html lang=en>
	<head>
		<title>Detail Page</title>
		<% include ./partials/head %>
	</head>
	<body>
	   <!-- nav bar starts here -->
	    <% include ./partials/header %>
	  <!-- nav bar ends here -->
	  
	    <div class="container-fluid sign-up-bg_img">
		  
	        <div class="col-sm-10 col-sm-offset-1">
			
			    <div class="row">
				    <div class="col-sm-6 col-sm-offset-3">
					  <!-- top-side ad div -->
				        <div class="ad-space-top">
			                <img src="./img/ad1.png" class="img-responsive ad-top" style="margin-bottom:10px">
						</div>
				    </div> <!-- col-sm-6 -->
				</div> <!-- row -->
				
				<h3 class="select-building-type">Lintel Band</h3>
				
				<div class="row detail-pg-bg">
				
				    <div class="col-sm-8 col-md-8 col-lg-9">
					
					    <div class="detailed-img-wrap">
					        <img src="./img/image-2.png" class="img-responsive detailed-img">
						</div>
						
					  <!-- description part -->
						<div class="col-sm-12">
						    <label class="label-description">Description</label>
						    <p class="detailed-desc">Lorem Ipsum Proin gravida nibh vel velit auctor aliquet. Lorem Ipsum Proin gravida nibh vel velit auctor aliquet. Lorem Ipsum Proin gravida nibh vel velit auctor aliquet. Lorem Ipsum Proin gravida nibh vel velit auctor aliquet. Lorem Ipsum Proin gravida nibh vel velit auctor aliquet.</p>
							
						</div>
					  <!-- description part -->
					
					</div> <!-- col-sm-8 -->
				
				<!-- side bar starts --->	
					
					<div class="col-sm-4 col-md-4 col-lg-3">
					  
						<div class="row" style="margin:11px 0 0;">
						    
							<p class="different-views">Views of Lintel from different angles</p>
							
							<div class="col-sm-6" style="padding:0 5px;">    
						        <div class="side-bar-imgs-div">
					                <a>
					                    <img src="./img/image-1.png" class="img-responsive side-bar-img">
						            </a>
								</div>  <!-- side-bar-imgs-div -->
								
								<div class="side-bar-imgs-div">
					                <a>
					                    <img src="./img/image-2.png" class="img-responsive side-bar-img">
						            </a>
								</div>  <!-- side-bar-imgs-div -->
							</div>  <!-- col-sm-6 -->
							
							<div class="col-sm-6" style="padding:0 5px;">    
						        <div class="side-bar-imgs-div">
					                <a>
					                    <img src="./img/image-3.png" class="img-responsive side-bar-img">
						            </a>
								</div> <!-- side-bar-imgs-div -->
								
								<div class="side-bar-imgs-div">
					                <a>
					                    <img src="./img/image-4.png" class="img-responsive side-bar-img">
						            </a>
								</div>  <!-- side-bar-imgs-div -->
							</div>  <!-- col-sm-6 -->
							
							<div class="clearfix"></div>
							
							<h6 class="label-videos">Videos</h6>
							
							<div class="col-sm-6" style="padding:0 5px;">
							    <iframe id="video" src="https://www.youtube.com/embed/qwIEVVHmbdE?modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen width="100%" height="100px">&amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;gt;</iframe>
						    </div>
							<div class="col-sm-6" style="padding:0 5px;">
							    <iframe id="video" src="https://www.youtube.com/embed/qwIEVVHmbdE?modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen width="100%" height="100px">&amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;gt;</iframe>
						    </div>
						
						</div> <!-- row -->
					
					</div> <!-- col-sm-4 -->
				 <!-- side bar ends -->
                    
					<div class="col-sm-12 text-center" style="margin-top:30px;">
                        
						<a href="javascript:void(0);" class="sky-blue-btn" style="display:inline-block; margin:15px 10px 25px;"><i class="fa fa-times"></i>&nbsp; No</a>
							
						<a href="javascript:void(0);" class="orange-btn" style="display:inline-block; margin:15px 10px 25px"><i class="fa fa-check-square"></i>&nbsp; Yes</a>	
                    
					</div>	<!-- col-sm-12  -->					
				
				</div>  <!-- row  -->
			  <!--  bottom ad part   -->
				<div class="row">
				    <div class="col-sm-6 col-sm-offset-3">
					  <!-- bottom-side ad div -->
				        <div class="ad-space-top">
			                <img src="./img/ad3.png" class="img-responsive ad-bottom" >
						</div>
				    </div> <!-- col-sm-6 -->
				</div> <!-- row -->
			  <!--  bottom ad part   -->
			
			</div>  <!-- col-sm-10 -->
		
		</div> <!-- container-fluid -->
		<% include ./partials/footer %>
	</body>
</html>