<!DOCTYPE html>
<html lang=en ng-app="BuildingApp">
    <head>
        <title>Building Type Configuration</title>
        <% include ./partials/head %>         
    </head>
    <body ng-controller="MainCtrl">      
       <!-- nav bar starts here -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>  <!--- navbar-header -->

              <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="pull-left"><a href="#"><img src="./img/logo.png"></a></li>
                        <li><a href="#" class="project-name"><span id="rsv">RVS</span> RAPID SEISMIC VARIABILITY ASSESSMENT SURVEY</a></li>
                        <li class="pull-right menu-right-options"><a href="#">Log Out &nbsp;<i class="fa fa-sign-out"></i></a></li>
                        <li class="pull-right menu-right-options active"><a href="#"><i class="fa fa-user-circle"></i>&nbsp; My Account</a></li>
                        
                    </ul>
                </div><!-- navbar-collapse -->
            </div><!-- container-fluid -->
        </nav>
      <!-- nav bar ends here -->
      
        <div class="container-fluid sign-up-bg_img">
          
            <div class="col-sm-10 col-sm-offset-1">
                
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <!-- top-side ad div -->
                        <div class="ad-space-top">
                            <img src="./img/ad1.png" class="img-responsive ad-top" style="margin-bottom:10px">
                        </div>
                    </div> <!-- col-sm-6 -->
                </div> <!-- row -->
                
                <h3 class="select-building-type">Building Type Configuration</h3>
                
                <div class="row" style="margin:0; padding:15px 0 20px; background:#f5f5f5;">
                    
                    <div class="col-sm-12"> 
                        
                        <ul class="nav nav-tabs building-type-tabs">
                            <li role="presentation" class="active"><a data-toggle="tab" href="#masonary">Masonary</a></li>
                            <li role="presentation"><a data-toggle="tab" href="#rcc">RCC</a></li>
                            <li role="presentation"><a data-toggle="tab" href="#steel">Steel</a></li>
                            <li role="presentation"><a data-toggle="tab" href="#composite">Composite</a></li>
                        </ul>
                        
                        <div class="tab-content">
                            <div id="masonary" class="tab-pane fade in active">
                            
                                <div class="row" style="margin:13px 0 20px; background:#fff;">
                                   <!-- language="english" block -->
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>English</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>Name <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" id="enName" ng-model="masonaryNameEN" name="name" value="<%=drinks.English%>">
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>Description <span style="color:#fb6969">*</span></b></label>
                                                <textarea class="form-control" rows="3" name="description" placeholder="Type description">{{myWelcome}}</textarea>
                                            </div>
                                        </form>
                                        <br/>
                             
                                        
                                    </div> <!-- language-form-wrap -->
                                    
                                  <!-- language="Gujrati" block -->
                                    
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>ગુજરાતી</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>નામ <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" id="gjName" value="<%=drinks.Gujarati%>" 
                                                name="name" ng-model="masonaryNameGJ">  
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>વર્ણન <span style="color:#fb6969">*</span></b></label>
                                                <textarea class="form-control" rows="3" name="description" placeholder="પ્રકાર વર્ણન"></textarea>
                                            </div>
                                        </form>
                                        <br/>                                                                                                       
                                        
                                    </div> <!-- language-form-wrap -->
                                  
                                  <!-- language="Hindi" block -->
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>हिन्दी</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>नाम <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" name="name" id="hiName" ng-model="masonaryNameHI" placeholder="परियोजना का नाम" value="<%=drinks.Hindi%>">
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>विवरण <span style="color:#fb6969">*</span></b></label>
                                                <textarea class="form-control" rows="3" name="description" placeholder="प्रकार के विवरण"></textarea>
                                            </div>
                                        </form>
                                        <br/>
                                                                                                                    
                                        
                                    </div> <!-- language-form-wrap -->
                                    
                                    <div class="col-sm-12">
                                        <div class="row add-options-in-survey-bg">
                                            <div class="col-sm-12">
                            
                                                <div class="row" style="margin:10px 5px 0px; display:block;">
                                                   <!-- upload image part starts --> 
                                                    
                                                    <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
                                                        <label style="margin-top:15px;">Upload Image</label> <br/>
                                                    </div>
                                            
                                                    <div class="col-sm-2 col-md-2 col-lg-1 side-padding">
                                                
                                                        <div class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <img src="img/image-1.png" />
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                           <!-- the below div will be visible on hover -->
                                                            <div class="upload-hover-wrapper">
                                                                <span><i class="fa fa-times"></i></span>
                                                            </div> <!-- upload-hover-wrapper -->
                                                        </div>  <!-- upload-files -->
                                            
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                            
                                                    <div class="col-sm-2 col-md-2 col-lg-1 side-padding">
                                                
                                                        <div class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <img src="img/image-1.png" />
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                           <!-- the below div will be visible on hover -->
                                                            <div class="upload-hover-wrapper">
                                                                <span>
                                                                    <div class="progress">
                                                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                            <span class="sr-only">60% Complete</span>
                                                                        </div>
                                                                    </div>
                                                                </span>
                                                            </div> <!-- upload-hover-wrapper -->
                                                        </div>  <!-- upload-files -->
                                            
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                            
                                                    <div class="col-sm-2 col-md-2 col-lg-1 side-padding">
                                                
                                                        <div class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <i class="fa fa-picture-o"></i>
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                        </div>  <!-- upload-files -->
                                            
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                            
                                                    <div class="col-sm-2 col-md-2 col-lg-1 side-padding">
                                                
                                                        <div class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <label class="" for="my-file-selector">
                                                                    <input id="my-file-selector" type="file" style="display:none;">
                                                                    <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                        </div>  <!-- upload-files -->
                                            
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                                   <!-- upload image part ends-->
                                           
                                                </div>  <!-- row -->
                                
                                            </div> <!-- col-sm-12  -->
                    
                                        </div>  <!-- options-in-survey-bg -->
                        
                                        <div class="row add-options-in-survey-bg">
                                            <div class="col-sm-12">
                            
                                                <div class="row" style="margin:10px 5px 0px; display:block;">
                                                   <!-- upload video part starts --> 
                                                    <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
                                                        <label style="margin-top:15px;">Upload Video</label> <br/>
                                                    </div>
                                            
                                                    <div class="col-sm-2 col-md-2 col-lg-1 side-padding">
                                                
                                                        <div class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <img src="img/image-1.png" />
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                           <!-- the below div will be visible on hover -->
                                                            <div class="upload-hover-wrapper">
                                                                <span class="text-center"><i class="fa fa-play-circle play-icon"></i></span>
                                                            </div> <!-- upload-hover-wrapper -->
                                                        </div>  <!-- upload-files -->
                                            
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                            
                                                    <div class="col-sm-2 col-md-2 col-lg-1 side-padding">
                                                
                                                        <div class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <img src="img/image-1.png" />
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                           <!-- the below div will be visible on hover -->
                                                            <div class="upload-hover-wrapper">
                                                                <span>
                                                                    <div class="progress">
                                                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                             <span class="sr-only">60% Complete</span>
                                                                        </div>
                                                                    </div>
                                                                </span>
                                                            </div> <!-- upload-hover-wrapper -->
                                                        </div>  <!-- upload-files -->
                                            
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                            
                                                    <div class="col-sm-2 col-md-2 col-lg-1 side-padding">
                                                
                                                        <div class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <i class="fa fa-video-camera"></i>
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                        </div>  <!-- upload-files -->
                                            
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                            
                                                    <div class="col-sm-2 col-md-2 col-lg-1 side-padding">
                                                
                                                        <div class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <label class="" for="my-file-selector">
                                                                   <input id="my-file-selector" type="file" style="display:none;">
                                                                  <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                        </div>  <!-- upload-files -->
                                            
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                                  <!-- upload video part ends-->
                                           
                                                </div>  <!-- row -->
                                
                                            </div> <!-- col-sm-12  -->
                    
                                        </div>  <!-- options-in-survey-bg -->
                        
                                    </div>  <!-- col-sm-12 -->
                                    
                                </div> <!-- row -->
                                
                                <div class="col-sm-12 text-center">
                                    
                                    <a href="javascript:void(0);" ng-click="form_validate()" class="orange-btn">Save</a>
                                    
                                </div>
                            
                            </div> <!--  #masonary -->
                            
                            <div id="rcc" class="tab-pane fade in">
                                <h3>HOME</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div id="steel" class="tab-pane fade in">
                                <h3>HOME</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div id="composite" class="tab-pane fade in">
                                <h3>HOME</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>  <!-- tab-content -->
                        
                    </div> <!-- col-sm-12 -->
                    
                </div>  <!-- row --->
                
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <!-- bottom-side ad div -->
                        <div class="ad-space-top">
                            <img src="./img/ad3.png" class="img-responsive ad-bottom" style="margin:20px auto;">
                        </div>
                    </div> <!-- col-sm-6 -->
                </div> <!-- row -->
            
            </div>  <!-- col-sm-10 -->
        
        </div> <!-- container-fluid -->
        <% include ./partials/footer %>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
        <script src="js/BuildingScript.js"></script>
        <!-- ****  NOTE: custom code ***** --->
        <script>
            $(document).ready(function(){
                $(".upload-files").hover(function(){ 
                    $(this).find(".upload-hover-wrapper").toggleClass("onhover-toggle");
                });
            });
            
        </script>       
        
    </body>
</html>