<!DOCTYPE html>
<html lang=en>
	<head>
		<title>General Technical Information</title>
		<% include ./partials/head %>
	</head>
	<body>
	   <!-- nav bar starts here -->
	    <% include ./partials/header %>
	  <!-- nav bar ends here -->
	  
	    <div class="container-fluid sign-up-bg_img">
		  
	        <div class="col-sm-10 col-sm-offset-1">
			    
				<div class="row">
				    <div class="col-sm-6 col-sm-offset-3">
					  <!-- top-side ad div -->
				        <div class="ad-space-top">
			                <img src="./img/ad1.png" class="img-responsive ad-top" style="margin-bottom:10px">
						</div>
				    </div> <!-- col-sm-6 -->
				</div> <!-- row -->
				
				<h3 class="select-building-type">Technical Information</h3>
				
				<div class="row" style="margin:0; padding-bottom:20px; background:#fff;">
				    
				  <!-- left-side ad div -->
		            <div class="col-sm-3 col-md-3 col-lg-2">
			            <div class="ad-space-left">
			                <img src="./img/ad2.png" class="img-responsive ad-left">
				        </div>
						<br/>
						<div class="ad-space-left">
			                <img src="./img/ad2.png" class="img-responsive ad-left">
				        </div>
			        </div>  <!-- col-sm-3 col-md-3 col-lg-2 -->
					
					<div class="col-sm-6 col-md-6 col-lg-8">
					  <!--progress bar wrapper-->		
					  <div class="text-center">				  
						 <div class="progress-bar progress-bar-custom"  data-percent="40" data-color="#ccc,#DC143C">
						 	<span class="progress-bar-text">No Animation</span>
						 </div>	 &nbsp;&nbsp;&nbsp;&nbsp;					  
						 <div class="progress-bar progress-bar-custom"  data-percent="55" data-color="#ccc,#7FFF00">
						 	<span class="progress-bar-text">Animation Progress</span>
						 </div>	 &nbsp;&nbsp;&nbsp;&nbsp;					  	     
					 	 <div class="progress-bar progress-bar-custom"  data-percent="70" data-color="#ccc,#6495ED">
					 	 	<span class="progress-bar-text">Value Progress</span>
					 	 </div>
				 	 </div>  <!--text-center-->
				 	 	<br/><br/>
				 	  <!--progress bar wrapper-->
						 <div class="clearfix"></div>
						 &nbsp;
					  <!--clearfix for progressbar-->
						<form class="general-form-bg">
						    <div class="row" style="margin:0">
							    <div class="col-sm-12 col-md-6">
								    <div class="form-group">
									    <label><b>Type of Ownership <span style="color:#fb6969">*</span></b></label>
                                        <select class="form-control" name="ownershipType">
                                            <option>Select</option>
                                            <option>Public</option>
			                                <option>Private</option>
                                        </select>
                                    </div>
								</div>
								<div class="col-sm-12 col-md-6">
								    <div class="form-group">
									    <label><b>Usage of Building <span style="color:#fb6969">*</span></b></label>
                                        <select class="form-control" name="buildingUsage">
                                            <option>Select</option>
                                            <option>School</option>
			                                <option>College</option>
                                        </select>
                                    </div>
								</div>
								
								<div class="col-sm-12 col-md-6">
								    <div class="form-group">
									    <label><b>How old is your building ? <span style="color:#fb6969">*</span></b></label>
                                        <select class="form-control" name="buildingAge">
										    <option>Select</option>
                                            <option>2</option>
                                            <option>5</option>
			                                <option>6-10</option>
                                        </select>
                                    </div>
								</div>
								<div class="col-sm-12 col-md-6">
								    <div class="form-group">
									    <label><b>Number of Storey ? <span style="color:#fb6969">*</span></b></label>
                                        <select class="form-control" name="buildingStorey">
                                            <option>Select</option>
                                            <option>G+1</option>
			                                <option>G+2</option>
											<option>G+3</option>
                                        </select>
                                    </div>
								</div>
								
								<div class="col-sm-12 col-md-6">
								    <div class="form-group">
									    <label><b>No. of occupants <span style="color:#fb6969">*</span></b></label>
                                        <select class="form-control" name="occupantsCount">
                                            <option>Select</option>
                                            <option>10</option>
			                                <option>11-20</option>
											<option>21-30</option>
                                        </select>
                                    </div>
								</div>
								<div class="col-sm-12 col-md-6">
								    <div class="form-group">
									    <label><b>Is there any basement present ? <span style="color:#fb6969">*</span></b></label>
                                        <select class="form-control" name="basement">
                                            <option>Select</option>
                                            <option>Available</option>
			                                <option>Not Available</option>
										</select>
                                    </div>
								</div>
								
								<div class="col-sm-12 col-md-6">
								    <div class="form-group">
									    <label><b>Type of Construction ? <span style="color:#fb6969">*</span></b></label>
                                        <select class="form-control" name="basement">
                                            <option>Select</option>
                                            <option>Engineered</option>
			                                <option>Non Engineered</option>
										</select>
                                    </div>
								</div>
					        
							</div>  <!-- row -->
			            </form>
						
                        <br/>
                        <a href="/seismic_Assessment" class="orange-btn" style="width:190px;">Save & Continue &nbsp; &nbsp; &nbsp;<i class="fa fa-arrow-right"></i></a>
						<h6 class="text-center"><b><i>Continue to Seismic Assessment...</i></b></h6>
					
					</div> <!-- col-sm-6 -->
					
				  <!-- right-side ad div -->
			        <div class="col-sm-3 col-md-3 col-lg-2">
			            <div class="ad-space-right">
			                <img src="./img/ad4.png" class="img-responsive ad-right">
						</div>
						<br/>
						<div class="ad-space-right">
			                <img src="./img/ad4.png" class="img-responsive ad-right">
						</div>
			        </div> <!-- col-sm-3 col-md-3 col-lg-2 -->
					
				</div>  <!-- row --->
				
				<div class="row">
				    <div class="col-sm-6 col-sm-offset-3">
					  <!-- bottom-side ad div -->
				        <div class="ad-space-top">
			                <img src="./img/ad3.png" class="img-responsive ad-bottom" style="margin:20px auto;">
						</div>
				    </div> <!-- col-sm-6 -->
				</div> <!-- row -->
			
			</div>  <!-- col-sm-10 -->
		
		</div> <!-- container-fluid -->
	  
	  <!--- footer  -->
		<div class="container-fluid footer-partners">
		    <div class="row">
			    
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/logo-footer.png" style="height:35px; width:170px;"></a>
                </div> 
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/p1.png"></a>
                </div> 
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/p2.png"></a>
                </div> 
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/p3.png"></a>
                </div> 
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/p4.png"></a>
                </div> 
			</div> <!-- row -->
        </div>  <!-- container-fluid -->		
	  
	    <footer>
		    <i class="fa fa-twitter"></i> &nbsp;
			<i class="fa fa-facebook-square"></i>
        </footer>
      <!--- footer  --> 	
	    
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
		<script src="js/jQuery-plugin-progressbar.js"></script>
		<script>
		   $(".progress-bar").loading();
		</script>
		
	</body>
</html>