<!DOCTYPE html>
<html ng-app="website" lang=en>
	<head>
		<title>Select Building Type</title>
		<% include ./partials/head %>
	</head>
	<body ng-controller="MainCtrl">	 
 
	   <!-- nav bar starts here -->
	     <% include ./partials/header %>
	<link href="css/styles.css" rel="stylesheet">	 
	<link href="css/gallerly.css" rel="stylesheet">
	  <!-- nav bar ends here -->
	  
	    <div class="container-fluid sign-up-bg_img">
		  
	        <div class="col-sm-10 col-sm-offset-1">
			    
				<div class="row">
				    <div class="col-sm-6 col-sm-offset-3">
					  <!-- top-side ad div -->
				        <div class="ad-space-top">
			                <img src="./img/ad1.png" class="img-responsive ad-top" style="margin-bottom:10px">
						</div>
				    </div> <!-- col-sm-6 -->
				</div> <!-- row -->
				
				<h3 class="select-building-type">Select your Building Type</h3>
				
	<div class="row" style="margin:0; background:#f5f5f5; padding-bottom:20px;">
		
		<div class="col-sm-12">	
			
			<div id="gallerly">   <!-- note: gallerly plugin has not been used  -->
				
				<div class="image-viewer">
					
					<a class="thumbnail">
						<img src="./img/image-1.png" data-title="Image Name" data-description="<span>Desription:</span> Lorem Ipsum ..." />
						<div class="desc">Masonry
							<button ng-click="call_slider('Masonry')"  type="button" class="btn btn-xs read-more">Read More &nbsp; <i class="fa fa-caret-right"></i></button>
						</div>  <!-- desc -->
					</a>
					
					<a class="thumbnail">
						<img src="./img/image-2.png" data-title="Image Name" data-description="<span>Desription:</span> Lorem Ipsum ..." />
						<div class="desc">RCC
							<button ng-click="call_slider('RCC')" type="button" class="btn btn-xs read-more">Read More &nbsp; <i class="fa fa-caret-right"></i></button>
						</div>  <!-- desc -->
					</a>
					
					<a class="thumbnail">
						<img src="./img/image-3.png" data-title="Image Name" data-description="<span>Desription:</span> Lorem Ipsum ..." />
						<div class="desc">Steel
							<button ng-click="call_slider('Steel')" type="button" class="btn btn-xs read-more">Read More &nbsp; <i class="fa fa-caret-right"></i></button>
						</div>  <!-- desc -->
					</a>
					
					<a class="thumbnail">
						<img src="./img/image-4.png" data-title="Image Name" data-description="<span>Desription:</span> Lorem Ipsum ..."/>
						<div class="desc">Composite
							<button ng-click="call_slider('Composite')" type="button" class="btn btn-xs read-more">Read More &nbsp; <i class="fa fa-caret-right"></i></button>
						</div>  <!-- desc -->
					</a>
					
				</div>  <!-- image-viewer  -->
			
			</div> <!-- #gallerly  --> 
		
		</div> <!-- col-sm-12 -->					 
	</div>  <!-- row ---> 
	 <div ng-show="showDiv" class="col-sm-10 col-sm-offset-1">
	 
				<h3 class="select-building-type">{{counter}}</h3>
				
<div class="row detail-pg-bg">
				
<div class="col-sm-8 col-md-8 col-lg-9">

<div ng-hide="preClick">					
<div ng-show="!vidDiv" class="container slider">
<img ng-repeat="slide in slides " height="250" width="590" class="slide slide-animation nonDraggableImage"
ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
					
<a class="arrow prev" ng-click="nextSlide()"></a>
<a class="arrow next" ng-click="prevSlide()"></a> 
</div>

<div ng-show="vidDiv"  class="container slider">
	<iframe ng-repeat="video in videoList" height="250" width="590" class="slide slide-animation nonDraggableImage" 
	ng-swipe-right="nextVideo()" ng-swipe-left="prevVideo()"
	ng-hide="!isCurrentvideoIndex($index)" ng-src="{{video.url}}">
	</iframe>	
 
<a class="arrow prev" ng-click="nextVideo()"></a>
<a class="arrow next" ng-click="prevVideo()"></a> 
</div>
</div>	

<div ng-show="postImgClick">
<div  class="container slider">
<img  height="250" width="590" class="slide slide-animation nonDraggableImage"
ng-src="{{Img_click_src}}">
					
<a class="arrow prev" ng-click="nextSlide()"></a>
<a class="arrow next" ng-click="prevSlide()"></a> 
</div>
</div>

<div ng-show="postVideoClick" class="container slider">
<iframe  height="250" width="590" class="slide slide-animation nonDraggableImage" 
	 ng-src="{{Video_click_src}}">
	</iframe>					
<a class="arrow prev" ng-click="nextSlide()"></a>
<a class="arrow next" ng-click="prevSlide()"></a> 
</div>
 
	
	
	<!-- description part -->
	<div class="col-sm-12">
		<label class="label-description">Description</label>
		<p class="detailed-desc">Lorem Ipsum Proin gravida description {{counter}}{{currentIndex}} </p>							
	</div>
	<!-- description part -->
					
</div> <!-- col-sm-8 -->
				
	<!-- side bar starts --->						
		<div class="col-sm-4 col-md-4 col-lg-3">
			<div class="row" style="margin:11px 0 0;">
				<p class="different-views">Views of Lintel from different angles</p>							
				<div ng-repeat="x in data|filter:customFilter " class="col-sm-6" style="padding:0 5px;"> 
					<div class="side-bar-imgs-div">
						<a>
							<img ng-click="img_click('{{x['Prefix']}}/{{x['img']}}')" src="{{x['Prefix']}}/{{x['img']}}" class="img-responsive side-bar-img">
						</a>
					</div>  <!-- side-bar-imgs-div -->		
				</div>  <!-- col-sm-6 -->							 
				<div class="clearfix"></div>							
				<h6 class="label-videos">Videos</h6>							
				<div ng-repeat="x in data | filter:VideoFilter" class="col-sm-6" style="padding:0 5px;">
				<div class="side-bar-imgs-div">
				 <a href="">
					<img ng-click="video_click('{{x['url']}}')" src="{{x['Prefix']}}/{{x['img']}}" frameborder="0" allowfullscreen width="100%" height="100px"> 
				</a>
				</div>
				</div>						 						
			</div> <!-- row -->					
		</div> <!-- col-sm-4 -->
	 <!-- side bar ends -->
                    
	<div class="col-sm-12 text-center" style="margin-top:30px;">
		
		<a href="javascript:void(0);" ng-click="showDiv = false;" class="sky-blue-btn" style="display:inline-block; margin:15px 10px 25px;"><i class="fa fa-times"></i>&nbsp; No</a>
			
		<a href="/addpicture" class="orange-btn" style="display:inline-block; margin:15px 10px 25px"><i class="fa fa-check-square"></i>&nbsp; Yes</a>	
	
	</div>	<!-- col-sm-12  -->					
				
</div>  <!-- row  -->
			  <!--  bottom ad part   -->
				 
			  <!--  bottom ad part   -->
			
			</div>  <!-- col-sm-10 -->
<!--slider-->
				<div class="row">
				    <div class="col-sm-6 col-sm-offset-3">
					  <!-- bottom-side ad div -->
				        <div class="ad-space-top">
			                <img src="./img/ad3.png" class="img-responsive ad-bottom" style="margin:20px auto;">
						</div>
				    </div> <!-- col-sm-6 -->
				</div> <!-- row -->
			
			</div>  <!-- col-sm-10 -->
		
		</div> <!-- container-fluid -->
	  
		<% include ./partials/footer %>

		<script src="js/gallerly.js"></script> 
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
        <script>
		    var $gallerly = document.querySelector("#gallerly");
            var gallerly = new Gallerly($gallerly);
		</script>   
		<script>
		    $(document).ready(function(){
                $(".thumbnail").hover(function(){ 
				    $(this).find(".desc").toggleClass("onhover-toggle");
				});
			
            });
		</script>
		<script src="js/app.js"></script>
	
	</body>
</html>
