<!DOCTYPE html>
<html lang=en>
	<head>
		<title>Survey Question & Answer Configuration</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/rvs-style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
	</head>
	<body>
	   <!-- nav bar starts here -->
	    <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>  <!--- navbar-header -->

              <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="pull-left"><a href="#"><img src="./img/logo.png"></a></li>
						<li><a href="#" class="project-name"><span id="rsv">RVS</span> RAPID SEISMIC VARIABILITY ASSESSMENT SURVEY</a></li>
						<li class="pull-right menu-right-options"><a href="#">Log Out &nbsp;<i class="fa fa-sign-out"></i></a></li>
						<li class="pull-right menu-right-options active"><a href="#"><i class="fa fa-user-circle"></i>&nbsp; My Account</a></li>
						
                    </ul>
                </div><!-- navbar-collapse -->
            </div><!-- container-fluid -->
        </nav>
	  <!-- nav bar ends here -->
	  
	    <div class="container-fluid sign-up-bg_img">
		  
	        <div class="col-sm-10 col-sm-offset-1">
			    
				<div class="row">
				    <div class="col-sm-6 col-sm-offset-3">
					  <!-- top-side ad div -->
				        <div class="ad-space-top">
			                <img src="./img/ad1.png" class="img-responsive ad-top" style="margin-bottom:10px">
						</div>
				    </div> <!-- col-sm-6 -->
				</div> <!-- row -->
				
				<div class="row page-header-wrap">
				    <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
				        <h3>Survey Question & Answer Configuration</h3>
				    </div>
				    <div class="col-sm-2 col-lg-3">
					    <span class="survey-btns-wrap">
					        <button type="button" class="btn btn-xs add-survey-btn">Add New &nbsp; <i class="fa fa-plus-circle"></i></button> &nbsp;
						    <button type="button" class="btn btn-xs edit-survey-btn">Edit &nbsp; <i class="fa fa-edit"></i></button>
					    </span>
				    </div>
				</div>
				
				<div class="row" style="margin:0; padding:15px 0 20px; background:#f5f5f5;">
				    
				  <div class="survey-question-wrap">
				    
					<div class="col-sm-12">	
					    <label style="display:block;"><b>Question Type <span style="color:#fb6969">*</span></b></label>
						
						<label class="radio-inline" style="margin-right:28px;">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Checkbox
                        </label> 
                        <label class="radio-inline" style="margin-right:28px;">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Dropdown
                        </label>
                        <label class="radio-inline" style="margin-right:28px;">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Text Field
                        </label>
					    
					</div> <!-- col-sm-6 -->
					
					<div class="clearfix"></div>
					<br/>
					
					<label style="display:block;padding-left:15px;"><b>Question Text <span style="color:#fb6969">*</span></b></label>
					
					<div class="col-sm-6 col-md-4 col-lg-4">	
					    
						<div class="form-group">
				            <input type="text" class="form-control" name="name" placeholder="English">
                        </div>
					    
					</div> <!-- col-sm-6 -->
					
					<div class="col-sm-6 col-md-4 col-lg-4">	
					    
						<div class="form-group">
				            <input type="text" class="form-control" name="name" placeholder="ગુજરાતી">
                        </div>
					    
					</div> <!-- col-sm-6 -->
					
					<div class="col-sm-6 col-md-4 col-lg-4">	
					    
						<div class="form-group">
				            <input type="text" class="form-control" name="name" placeholder="हिन्दी">
                        </div>
					    
					</div> <!-- col-sm-6 -->
					
					<div class="clearfix"></div>
					
					<div class="col-sm-12 ">
					    <label style="display:block;"><b>Options <span style="color:#fb6969">*</span></b></label>
						
					    <div class="row add-options-in-survey-bg">
						    
							<div class="col-sm-10 col-md-11" style="padding:0">
						        <div class="col-sm-4 form-group">
							        <input type="text" class="form-control" name="name" placeholder="English">
                                </div>
								<div class="col-sm-4 form-group">
							        <input type="text" class="form-control" name="name" placeholder="ગુજરાતી">
                                </div>
								<div class="col-sm-4 form-group">
							        <input type="text" class="form-control" name="name" placeholder="हिन्दी">
                                </div>
							</div>
							
							<div class="col-sm-2 col-md-1 text-center">
							    <i class="fa fa-plus" style="color:#717171; font-size:24px; margin-top:10px; cursor:pointer;"></i>
							</div>
						
						</div> <!-- add-options-in-survey-bg -->
						
						<div class="row delete-options-in-survey-bg">
						    
							<div class="col-sm-10 col-md-11" style="padding:0">
						        <div class="col-sm-4 form-group">
							        <input type="text" class="form-control" name="name" placeholder="English">
                                </div>
								<div class="col-sm-4 form-group">
							        <input type="text" class="form-control" name="name" placeholder="ગુજરાતી">
                                </div>
								<div class="col-sm-4 form-group">
							        <input type="text" class="form-control" name="name" placeholder="हिन्दी">
                                </div>
							</div>
							
							<div class="col-sm-2 col-md-1 text-center">
							    <i class="fa fa-trash" style="color:#ef3536; font-size:22px; margin-top:10px; cursor:pointer;"></i>
							</div>
						
						</div> <!-- delete-options-in-survey-bg -->
					
					</div> <!-- col-sm-12 -->
					
					<div class="clearfix"></div> 
					<br/>
					
					<div class="col-sm-12 ">
					
					    <label class="checkbox-inline"style="padding-left:0; margin-bottom:20px;"> 
                            <b>Need Assistance <span style="color:#fb6969">*</span></b><input type="checkbox" id="inlineCheckbox1" value="option1" style="margin-left: 17px; margin-top: -5px;"> 
                        </label>
						
					   <div class="row add-options-in-survey-bg">
						    
						<div class="col-sm-4 form-group">
							<input type="text" class="form-control" name="name" placeholder="English">
                        </div>
						<div class="col-sm-4 form-group">
							<input type="text" class="form-control" name="name" placeholder="નામ સહાય">
                        </div>
						<div class="col-sm-4 form-group">
							<input type="text" class="form-control" name="name" placeholder="सहायता का नाम">
                        </div>
							
					  </div> <!-- options-in-survey-bg -->
					
					</div>  <!-- col-sm-12  -->
					
					<div class="clearfix"></div>
					
					<div class="col-sm-4 form-group need-assist-desc">
					    <textarea class="form-control" rows="3" name="description" placeholder="Type description"></textarea>
                    </div>
					
					<div class="col-sm-4 form-group need-assist-desc">
					    <textarea class="form-control" rows="3" name="description" placeholder="પ્રકાર વર્ણન"></textarea>
                    </div>
					
					<div class="col-sm-4 form-group need-assist-desc">
					    <textarea class="form-control" rows="3" name="description" placeholder="प्रकार के विवरण"></textarea>
                    </div>
					
					<div class="clearfix"></div>
					
					<div class="col-sm-12">
					    <div class="row add-options-in-survey-bg">
					        <div class="col-sm-12">
						    
						        <div class="row" style="margin:10px 5px 0px; display:block;">
										  <!-- upload image part starts --> 
										    <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
										       <label style="margin-top:15px;">Upload Image</label> <br/>
											</div>
											
											<div class="col-sm-2 col-md-2 col-lg-1 side-padding">
											    
												<div class="upload-files">
													<div class="upload-wrapper">
														<img src="img/image-1.png" />
													</div> <!-- upload-wrapper -->
																			  
												  <!-- the below div will be visible on hover -->
													<div class="upload-hover-wrapper">
														<span><i class="fa fa-times"></i></span>
                                                    </div> <!-- upload-hover-wrapper -->
												</div>  <!-- upload-files -->
											
											</div> <!-- col-sm-2 col-md-2 col-lg-1 -->
											
											<div class="col-sm-2 col-md-2 col-lg-1 side-padding">
											    
												<div class="upload-files">
													<div class="upload-wrapper">
														<img src="img/image-1.png" />
													</div> <!-- upload-wrapper -->
																			  
												  <!-- the below div will be visible on hover -->
													<div class="upload-hover-wrapper">
														<span>
														    <div class="progress">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                    <span class="sr-only">60% Complete</span>
                                                                </div>
                                                            </div>
														</span>
                                                    </div> <!-- upload-hover-wrapper -->
												</div>  <!-- upload-files -->
											
											</div> <!-- col-sm-2 col-md-2 col-lg-1 -->
											
											<div class="col-sm-2 col-md-2 col-lg-1 side-padding">
											    
												<div class="upload-files">
													<div class="upload-wrapper">
														<i class="fa fa-picture-o"></i>
													</div> <!-- upload-wrapper -->
																			  
												</div>  <!-- upload-files -->
											
											</div> <!-- col-sm-2 col-md-2 col-lg-1 -->
											
											<div class="col-sm-2 col-md-2 col-lg-1 side-padding">
											    
												<div class="upload-files">
													<div class="upload-wrapper">
														<label class="" for="my-file-selector">
                                                            <input id="my-file-selector" type="file" style="display:none;">
															<i class="fa fa-plus"></i>
                                                        </label>
                                                    </div> <!-- upload-wrapper -->
																			  
												</div>  <!-- upload-files -->
											
											</div> <!-- col-sm-2 col-md-2 col-lg-1 -->
										  <!-- upload image part ends-->
										   
								</div>  <!-- row -->
								
							</div> <!-- col-sm-12  -->
					
					    </div>  <!-- options-in-survey-bg -->
						
						<div class="row add-options-in-survey-bg">
					        <div class="col-sm-12">
						    
						        <div class="row" style="margin:10px 5px 0px; display:block;">
										  <!-- upload video part starts --> 
										    <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
										       <label style="margin-top:15px;">Upload Video</label> <br/>
											</div>
											
											<div class="col-sm-2 col-md-2 col-lg-1 side-padding">
											    
												<div class="upload-files">
													<div class="upload-wrapper">
														<img src="img/image-1.png" />
													</div> <!-- upload-wrapper -->
																			  
												  <!-- the below div will be visible on hover -->
													<div class="upload-hover-wrapper">
														<span class="text-center"><i class="fa fa-play-circle play-icon"></i></span>
                                                    </div> <!-- upload-hover-wrapper -->
												</div>  <!-- upload-files -->
											
											</div> <!-- col-sm-2 col-md-2 col-lg-1 -->
											
											<div class="col-sm-2 col-md-2 col-lg-1 side-padding">
											    
												<div class="upload-files">
													<div class="upload-wrapper">
														<img src="img/image-1.png" />
													</div> <!-- upload-wrapper -->
																			  
												  <!-- the below div will be visible on hover -->
													<div class="upload-hover-wrapper">
														<span>
														    <div class="progress">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                    <span class="sr-only">60% Complete</span>
                                                                </div>
                                                            </div>
														</span>
                                                    </div> <!-- upload-hover-wrapper -->
												</div>  <!-- upload-files -->
											
											</div> <!-- col-sm-2 col-md-2 col-lg-1 -->
											
											<div class="col-sm-2 col-md-2 col-lg-1 side-padding">
											    
												<div class="upload-files">
													<div class="upload-wrapper">
														<i class="fa fa-video-camera"></i>
													</div> <!-- upload-wrapper -->
																			  
												</div>  <!-- upload-files -->
											
											</div> <!-- col-sm-2 col-md-2 col-lg-1 -->
											
											<div class="col-sm-2 col-md-2 col-lg-1 side-padding">
											    
												<div class="upload-files">
													<div class="upload-wrapper">
														<label class="" for="my-file-selector">
                                                            <input id="my-file-selector" type="file" style="display:none;">
															<i class="fa fa-plus"></i>
                                                        </label>
                                                    </div> <!-- upload-wrapper -->
																			  
												</div>  <!-- upload-files -->
											
											</div> <!-- col-sm-2 col-md-2 col-lg-1 -->
										  <!-- upload video part ends-->
										   
								</div>  <!-- row -->
								
							</div> <!-- col-sm-12  -->
					
					    </div>  <!-- options-in-survey-bg -->
						
					</div>  <!-- col-sm-12 -->
					
					<div class="clearfix"></div>
					
					<div class="col-sm-12 select-radio-btn">
					  
					    <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1" style="margin-top:-4px;"> Masonary
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2" style="margin-top:-4px;"> RCC
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" value="option3" style="margin-top:-4px;"> Steel
                        </label>
						<label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox4" value="option4" style="margin-top:-4px;"> Composite
                        </label>
					  
					</div>
					
					<div class="col-sm-12 text-center">
						<br/>
						<a href="javascript:void(0);" class="orange-btn">Save</a>
									
					</div>
					
					
				  </div> <!-- survey-question-wrap -->
					
				</div>  <!-- row --->
				
				<div class="row">
				    <div class="col-sm-6 col-sm-offset-3">
					  <!-- bottom-side ad div -->
				        <div class="ad-space-top">
			                <img src="./img/ad3.png" class="img-responsive ad-bottom" style="margin:20px auto;">
						</div>
				    </div> <!-- col-sm-6 -->
				</div> <!-- row -->
			
			</div>  <!-- col-sm-10 -->
		
		</div> <!-- container-fluid -->
	  
	  <!--- footer  -->
		<div class="container-fluid footer-partners">
		    <div class="row">
			    
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/logo-footer.png" style="height:35px; width:170px;"></a>
                </div> 
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/p1.png"></a>
                </div> 
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/p2.png"></a>
                </div> 
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/p3.png"></a>
                </div> 
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/p4.png"></a>
                </div> 
			</div> <!-- row -->
        </div>  <!-- container-fluid -->		
	  
	    <footer>
		    <i class="fa fa-twitter"></i> &nbsp;
			<i class="fa fa-facebook-square"></i>
        </footer>
      <!--- footer  --> 	
	    
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>	    
        <!-- ****  NOTE: custom code ***** --->
        <script>
		    $(document).ready(function(){
                $(".upload-files").hover(function(){ 
				    $(this).find(".upload-hover-wrapper").toggleClass("toggle-onhover");
				});
			});
			
		</script>		
		
	</body>
</html>