
@font-face {
    font-family: 'IntroCondBlack';
    src: url('IntroCondBlackFree.ttf') format('truetype');
}

@font-face {
    font-family: 'KelsonSans';
    src: url('KelsonSans-BoldBG.ttf') format('truetype');
}

html {
    position: relative; 
  min-height: 100%;
}

body {
  font-family:Lato !important;
  margin: 0 0 205px; /* bottom = footer height */
}

.navbar  {
  background:#1f334f; border-radius:0; 
  border:1px solid #1f334f; min-height:86px; margin-bottom:0;
}

.navbar-nav { width: 100%; text-align: center; }

.navbar-nav > li {
    float: none; display: inline-block; vertical-align:-36px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff; font-size:14px; font-weight:300; padding-bottom:5px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #f1f1f1; outline:none;
}

.project-name {
  font-size:21px !important; font-family: 'KelsonSans';
}
 
.menu-right-options {
   margin-top:20px;
}
 
.menu-right-options  i { color:#4d678a; font-size:12px; }
 
.navbar-default .navbar-collapse { padding-left:0; padding-right:0; }

.nav>li>a { padding:10px; }
 
#rsv {
  color:#5db016; font-family: 'IntroCondBlack'; font-size:24px !important;
}
 
.navbar-default .navbar-nav>.active>a {
  background:transparent !important;
  border-bottom:2px solid #5db016; color:#f1f1f1;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
   color:#f1f1f1; 
}
 
.footer-partners {
   position: absolute; left: 0; bottom: 0; 
   height:160px; color:#fff; width:100%;
   padding:20px 15px 13px;
}

.footer-partners .col-sm-2 { width:20%; text-align:center; }

.footer-partners .col-sm-2 img { height:60px; }

footer {
 background:#1f334f; height:45px; color:#fff; 
 width:100%; position: absolute; left: 0; 
 bottom: 0; text-align:center; font-size:20px;
}

footer i { vertical-align:-8px; }

.sign-up-bg_img  {
   background-size: cover;  min-height: 100%; min-height: 100vh; 
  background-image: url(../img/bk.png); background-position: initial;
}

.sign-up-bg { height:100%; height:100vh; }

.sign-up-form-bg  {
  background:#fff; border-radius:0; padding:30px 25px; 
  width:100%; text-align:center; display:block;
}

.sign-up-form-bg input, .sign-up-form-bg select {
  border-radius:0; background:#f4f4f4; border-color:#f4f4f4; outline:none;
  box-shadow:none; height:40px; text-align:center; color:#333; font-weight:400; font-size:15px;
}

.sign-up-form-bg input::-webkit-input-placeholder {
    color:#333;
}

.sign-up-form-bg  input:-moz-placeholder  {
    color:#333;
}

.sign-up-form-bg  input::-moz-placeholder  {
    color: #333;
}

.sign-up-form-bg input:-ms-input-placeholder {
    color: #333;
}

.sign-up-form-bg select {
  height:44px; margin-bottom:28px; text-align-last:center;
}

.sign-up-form-bg h3 {
 color:#333; font-weight:900; margin-top:0; margin-bottom:19px; font-size:20px;
}

.sign-up-form-bg p {
 font-weight:700; color:#8d8d8d; font-size:13px; 
 font-style:italic; margin-top:10px;
}

.sign-up-form-bg button {
 color:#fff; background:#5db016; font-weight:900;
  font-size:16px; text-align:center; border-color:#5db016;
  border-radius:0;height:40px;width:190px; margin:10px auto 5px;
}

.sign-up-form-bg button:hover, .sign-up-form-bg button:focus, .sign-up-form-bg button:active {
    color:#fff; border-color:#5db016; outline:none; box-shadow:none;
}

.ad-space-bg {
  height:100%; height:100vh; display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex; align-items: center;
}

.ad-space-left, .ad-space-right, .ad-space-bottom, .ad-space-top  {
  text-align:center; display:block; margin:0 auto; 
  object-fit:contain;
}

.ad-left, .ad-right  { margin:30px auto 10px; object-fit:contain; width:300px; }

.ad-space-top  { padding-left:10px; padding-right:10px; }

.ad-top { margin:42px auto 30px; object-fit:contain; width:728px; }

.ad-bottom { margin:15px auto 30px; object-fit:contain; width:970px  }

.select-building-type {
  text-align:center; color:#333; font-weight:900; 
  display:block; background:#fff; padding:20px 0; 
  margin-top:12px; margin-bottom:0
}

.type-imgs-div, .side-bar-imgs-div {
  border:1px solid #e8e8e8; border-radius:1px; 
  margin-top:15px; margin-bottom:5px;
}

.type-img, .side-bar-img {
  height:211px; object-fit:contain; background:#fff; padding:10px;
  display:block; margin:0 auto; cursor:pointer;
}

.desc {
  background:#ededed; padding: 8px 5px 7px; color:#333; 
  font-size:15px; font-weight:700;
}

.onhover-toggle { background:#6ba9ff; color:#fff; }

.onhover-toggle .read-more { background:#fff; border-color:#fff; color:#6ba9ff; }

.read-more, .small-green-btn, .small-blue-btn {
  background:#5db016; border-radius:14px; color:#fff; border-color:#5db016; 
  font-style:italic; font-size:12px; font-weight:700; 
  float:right; font-family:Lato !important;
}

.read-more { background:#f59711; border-color:#f59711;  }

.small-green-btn, .small-blue-btn {
  float:none; display:block;
  margin:10px auto 20px; padding:1px 6px;
}

.small-blue-btn { background:#1f334e;  border-color:#1f334e; }

.read-more i , .small-green-btn i, .small-blue-btn i {
  vertical-align:-1px;
}

.small-green-btn:hover, .small-blue-btn:hover, .small-green-btn:focus, .small-blue-btn:focus {
 color:#fff; outline:0 !important;
}

.read-more:hover, .read-more:focus {
 color:#6ba9ff; outline:0 !important; background:#fff; border-color:#6ba9ff;
}

.detail-pg-bg { margin:0; background:#4c4845; padding-bottom:30px; padding-top:5px; }

.detailed-img-wrap { width:100%;  background:#fff; margin-top:15px; }

.detailed-img {
  height:350px; object-fit:contain; background:#fff; padding:10px;
  display:block; margin:0 auto 20px; cursor:pointer;
}

.side-bar-imgs-div { background:#fff; }

.side-bar-img { height:110px; object-fit:contain; }

.different-views  {
  color:#fff; font-weight:500; margin-bottom:0; text-align:center;
}

.label-videos  {
   color:#fff; font-weight:500; margin-top:15px; text-indent:7px; font-size:13px; 
}

.side-bar-ad-div { padding:0 12px; }

.side-bar-ad { margin:15px auto; object-fit:contain; width:300px }
  
.label-img-name { color:#fff; font-weight:700; }
 
.label-description   {
   color:#fff; font-size:16px; font-weight:400;
   margin-top:18px; text-align:left;
}
 
.detailed-desc { color:#fff; font-size:15px; margin-top:13px; }

.make-selection {
  background:#5db016; border-radius:0; height:45px; width:90%;
  color:#fff; font-weight:700; border:1px solid #5db016; font-size:16px; 
  margin-top:30px;
}

.make-selection:hover, .make-selection:focus { color:#fff; }

.other-imgs {
  display:block; width:100%; height:100px;
  object-fit:contain;background:#fff; padding:1px 5px; cursor:pointer;
}

.hover-pointer { cursor:pointer; }


/**** custom css written for the gallery plugin ******/

#gallerly { margin-top:10px; }

#gallerly .image-viewer > a {
    cursor: pointer; border:1px solid #e8e8e8 !important;
    padding: 0 !important; margin: 5px;
    display: inline-block; background:#fff;
  border-radius:1px; text-decoration:none !important;
}

#gallerly .image-viewer > a > img { padding:0; }

#gallerly .image-viewer > a:hover {
  text-decoration:none !important;
  border:1px solid #6ba9ff !important; color:#fff;
}

#gallerly .image-viewer .preview {
  background:#1f334e !important;
  border-radius:0 !important; z-index:999;
}
 
#gallerly .preview .arrow { border-bottom: 10px solid #1f334e !important;}
 
#gallerly .preview .preview-content { margin:20px 45px !important; }
 
#gallerly .preview .prev, #gallerly .preview .next { font-size:31px; }

#gallerly .preview .close-preview { color:#696d8c; font-size:18px; font-weight:900; }

#gallerly .preview .close-preview:hover, #gallerly .preview .close-preview:focus {
    text-decoration:none !important;
}

#gallerly .preview .wrapper { width:inherit;  }

#gallerly .image-viewer > a > img { height: 167px !important; }

.title { font-size:17px; color:#fff !important; font-weight:700; }
 
.small-description { color:#7692b9; font-size:15px; }

.small-description span { color:#fff; }

.product_gallery a {
    width: 90px !important; height: 90px !important;
    float: left !important; margin: 10px 10px 5px;
}

.thumb-preview { width: 100% !important; object-fit:contain; }

#gallerly .image-viewer .preview img {
    width: 100%; object-fit: contain; background:#fff; height:280px; 
}

#gallerly .preview .description {
   font-size:15px; color:#7692b9 !important; font-weight:400 !important;
}

#gallerly .preview .description span {
  color:#fff; font-weight:700 !important; 
}

.related-videos {
  color:#fff; font-weight:700 !important; 
  font-size:15px; margin-top:25px;
}

/*------------------------- */

.for-design, .for-survey {
  border:2px solid #f27e11; text-align:center; background-color:#fff;
  margin-bottom:13px; margin-top:10px;
}

.for-survey  { border:2px solid #72acfe; }

.design-img, .survey-img  { height:210px; object-fit:contain; width:100%; }

.for-design-label, .for-survey-label  {
  text-align:center; color:#222;
  font-size:15px; font-weight:700; padding:0 5px;
}

.green-btn, .blue-btn {
  background:#5db016; color:#fff; font-size:15px; font-weight:700;
  border:1px solid #5db016; border-radius:0;
  height:40px; display:block; margin:15px auto 10px;
  width:60%; text-align:center; text-indent:-7px;
}

.blue-btn { background:#1f334e; border:1px solid #1f334e; }

.blue-btn  i {
  float:left; margin-top:1px;
  font-size:20px;  margin-right:7px; text-indent:2px;
}

.green-btn:hover, .green-btn:focus, .blue-btn:hover, .blue-btn:focus  {
   color:#fff; outline:0 !important; 
}

.compass { margin-top: -3px; margin-left: -9px; padding-right: 6px; }

.upload-bic-bg, .upload-bic-bg_small {
  background:#f5f5f5; height: 330px;
  width: 90%; margin: 0 auto; padding: 10px;
  display: flex; justify-content: center;
  align-items: center; overflow: auto; object-fit:contain;
}

.upload-bic-bg_small { height:210px; margin-bottom:25px; }

.upload-pic, .upload-pic_small  {
  width: 70%; transform: translate(-50%, -50%);
  position: absolute; top: 47%;left: 50%;
  padding: 10px; overflow: auto; text-align:center;
}

.upload-pic_small  { top: 44%; }

.add-pic, .add-pic-small { font-size:70px; color:#e5e5e5;  margin-bottom:5px; }

.add-pic-small { font-size:42px; }

.label-add-pic { font-size:13px; }

.upload-btn, .save-btn  {
  background:#5db016; border:1px solid #5db016;
  border-radius:0; color:#fff; font-size:15px;
  font-weight:700; height:39px; margin-top:10px;
  padding-left:20px; padding-right:20px;
}

.save-btn  { display:block; margin:40px auto 10px; font-size:16px; }

.upload-btn:focus, .upload-btn:hover, .save-btn:focus, .save-btn:hover {
  color:#fff; outline:none;
}

.upload-btn i, .save-btn i {
  font-size:19px; float:right;  margin-top:1px; text-indent:5px;
}

.save-btn i { margin-top:2px; }

.upload-btn_small { display:initial; padding:2px 10px 4px; }

.upload-btn_small i { vertical-align:0; }

.general-form-bg { background:#f5f5f5; padding:17px 0; }

.general-form-bg  input, .general-form-bg  select, .building-type-config-form input, .building-type-config-form textarea, 
.survey-question-wrap input, .need-assist-desc textarea {
  border-radius:0; border-color:#c9c9c9; box-shadow:none;
  height:39px; color:#b0b0b0; font-size:15px;
}

.general-form-bg  select { color:#333; font-weight:400; }

.general-form-bg .form-control[readonly] {
    cursor: not-allowed; background-color: #f9f9f9;
    opacity: 1; border-color:#e2e2e2; border-radius:0; 
  box-shadow:none; color:#b0b0b0;
}

.general-form-bg  input::-webkit-input-placeholder  {
  color:#b0b0b0;
}

.general-form-bg  input:-moz-placeholder  {
  color:#b0b0b0;
}

.general-form-bg  input::-moz-placeholder {
  color:#b0b0b0;
}

.general-form-bg  input:-ms-input-placeholder {
  color:#b0b0b0; 
}

/* added 14th dec 2016 */

.orange-btn, .sky-blue-btn  {
  position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #f3810f;
    border: 1px solid #f3810f;
    font-weight: 700;
    font-size:17px;
    display: block;
    padding: 9px 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 8px 0px rgba(203,103,5,.9), 0px 9px 20px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 8px 0px rgba(203,103,5,.9), 0px 9px 20px rgba(0,0,0,.8);
    box-shadow: 0px 8px 0px rgba(203,103,5,.9), 0px 9px 20px rgba(0,0,0,.8);
    margin:15px auto 25px;
  width: 125px;
  text-align: center;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.sky-blue-btn  {
   background-color: #6ba9ff;
    border: 1px solid #6ba9ff;
   -webkit-box-shadow: 0px 8px 0px rgba(60,129,230,.9), 0px 9px 20px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 8px 0px rgba(60,129,230,.9), 0px 9px 20px rgba(0,0,0,.8);
    box-shadow: 0px 8px 0px rgba(60,129,230,.9), 0px 9px 20px rgba(0,0,0,.8);
 }

.orange-btn:hover, .orange-btn:focus, .sky-blue-btn:hover, .sky-blue-btn:focus  {
  color:#fff;
  text-decoration:none;
}

.sky-blue-btn:hover   {
  -webkit-box-shadow: 0px 8px 0px rgba(60,129,230,.9), 0px 17px 30px rgba(0,0,0,1);
    -moz-box-shadow: 0px 8px 0px rgba(60,129,230,.9), 0px 17px 30px rgba(0,0,0,1);
    box-shadow: 0px 8px 0px rgba(60,129,230,.9), 0px 17px 30px rgba(0,0,0,1);
}

.orange-btn:hover   {
  -webkit-box-shadow: 0px 8px 0px rgba(203,103,5,.9), 0px 17px 30px rgba(0,0,0,1);
    -moz-box-shadow: 0px 8px 0px rgba(203,103,5,.9), 0px 17px 30px rgba(0,0,0,1);
    box-shadow: 0px 8px 0px rgba(203,103,5,.9), 0px 17px 30px rgba(0,0,0,1);
}

.orange-btn:focus, .sky-blue-btn:focus {
  outline:none;
}

.orange-btn:active, .sky-blue-btn:active  {
    -webkit-box-shadow: 0px 3px 0px rgba(203,103,5,.8), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(203,103,5,.8), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(203,103,5,.8), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
  color:#fff;
    text-decoration:none;
}

.sky-blue-btn:active  {
    -webkit-box-shadow: 0px 3px 0px rgba(60,129,230,.9), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(60,129,230,.9), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(60,129,230,.9), 0px 3px 6px rgba(0,0,0,.9);
}

.orange-btn  i, .sky-blue-btn i  {
    margin-left: -10px;
    padding-right: 6px;
  font-size:18px;
}

.or-txt  {
   text-align:center;
   color:#707070;
   font-size:15px;
}

.bid-id {
  background:#f3810f; padding: 8px 5px 7px; color:#fff; 
  font-size:15px; font-weight:570; text-align:left;
}

.label_survey-id  {
  text-align:center; color:#222;
  font-size:15px; font-weight:700;
  padding:0 5px; margin-top:15px;
}

.view-edit-delete-wrapper  {
   text-align:center;
   margin-bottom:30px;
}

.view-edit-delete {
  text-align:center;
  font-size:17px;
  display:inline-block;
  color:#666;
}

.view-bid, .edit-bid, .delete-bid   {
  background:#f3810f;
  padding:9px; border-radius:50%;
  cursor:pointer; margin:6px 5px 0; color:#fff;
}

.view-edit-delete h6 {
  font-weight:700; margin-top:6px;
}

.edit-bid {
 background:#aac612; padding:9px 9px 9px 10px; 
}

.delete-bid  {
 background:#474747;
 padding:8px 10px 9px;
}
/*********    elastic grid   *********/

.og-grid li>a img {
    height: 180px;
}

.elastislide-carousel ul li a img {
     height: 120px;
}

.og-fullimg img {
    height:90%;
}

.elastislide-wrapper nav span {
    position: absolute;
    background: #1b1b1b url(../img/nav.png) no-repeat 4px 3px !important;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    text-indent: -9000px;
    cursor: pointer;
    opacity: .8;
}


.progress-bar {
  position: relative;
  height: 100px;
  width: 100px;
}

.progress-bar div {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.progress-bar div span {
  color: black;        /*11-january-2017  rohitas*/
  position: absolute;
  font-family: Arial;
  font-size: 25px;
  line-height: 75px;
  height: 75px;
  width: 75px;
  left: 12.5px;
  top: 12.5px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
}

.progress-bar .background { background-color: #b3cef6; }

.progress-bar .rotate {
  clip: rect(0 50px 100px 0);
  background-color: #4b86db;
}

.progress-bar .left {
  clip: rect(0 50px 100px 0);
  opacity: 1;
  background-color: #b3cef6;
}

.progress-bar .right {
  clip: rect(0 50px 100px 0);
  transform: rotate(180deg);
  opacity: 0;
  background-color: #4b86db;
}

@keyframes 
toggle {  0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}

/* added on 5th jan 2017 */

.building-type-config-form { display:block;}

.building-type-tabs { border-bottom:5px solid #5db016; }

.building-type-tabs>li.active>a, .building-type-tabs>li.active>a:hover, .building-type-tabs>li.active>a:focus { background:#5db016; color:#fff; font-weight:500; border-radius:0;
  border-color:#5db016; font-weight:600; font-size:15px; padding:10px;
}

.building-type-tabs>li>a { background:#333; color:#8f8f8f; font-weight:500; border-radius:0;
  border-color:#333; font-size:15px; padding:8px 10px;
}

.language-label { color:#999; font-weight:500;}

.language-label span  { color:#333;  }

.language-label i { font-size:24px; margin-right:10px; }

.language-form-wrap { background:#fff; padding-top:10px; padding-bottom: 13px; }

.building-type-config-form input, .survey-question-wrap input { height:34px; font-size:15px; }

.building-type-config-form input::-webkit-input-placeholder  {
  color:#999;
}

.building-type-config-form input:-moz-placeholder {
  color:#999;
}

.building-type-config-form input::-moz-placeholder {
  color:#999;
}

.building-type-config-form input:-ms-input-placeholder {
  color:#999; 
}

.building-type-config-form textarea, .need-assist-desc textarea { height:auto; color:#999; }

.upload-img-wrap { height:40px; margin:5px; border:1px solid #f5f5f5; cursor:pointer; display:inline-block; }

.upload-img { height:40px; }

.upload-img-wrap i { font-size:20px; vertical-align:middle; }

.upload-files  { position:relative; cursor:pointer;  width:70px; border-radius:0; display: inline-block; }

.upload-wrapper { border-radius:0; padding:0; text-align:center; margin-bottom:20px;  
 border:1px solid #f5f5f5; background:#f5f5f5; height:55px; object-fit:contain; }

.upload-wrapper i { display:block;  font-size:25px; color:#a4a3a3; margin:15px auto 14px; color:#e1e1e1; cursor:pointer }

.upload-wrapper img { /* width:100%; */ width:70px; height:55px; object-fit:contain; }

.upload-hover-wrapper { background:rgba(0,0,0,.6); border-radius:0px; position:absolute; top:0%; left:0; width:100%; /* height:100%; */ height:75%; display:none; }

 .toggle-onhover  { display:initial  } 

.upload-hover-wrapper span { position:absolute; top:8%; left:5%; width:90%;  }

.upload-hover-wrapper span i { color:#fff; font-size:14px; float:right; margin-right:6px; cursor:pointer; }

.upload-hover-wrapper span .progress { margin-bottom:0; height:8px; background:#838383; margin-top:19px; }

.upload-hover-wrapper span .progress-bar { height:20px; background:#5db016; }

.side-padding { padding-left:5px; padding-right:5px; }

.upload-hover-wrapper span .play-icon { float:none;margin-top:16px; margin-left:6px; }

.survey-question-wrap { margin:15px 20px; }

.survey-question-wrap input[type=radio] {
    margin-top: -6px;
}

.survey-question-wrap input { margin-top:5px; }

.delete-options-in-survey-bg { background:#fafafa; margin:0 0 13px; padding-top:6px; border:1px solid #c6c6c6; }

.add-options-in-survey-bg { background:#fff; margin:0 0 13px; padding-top:6px; border:1px solid #979797; }

.options-in-survey-bg .form-group { margin-bottom:10px; }

.select-radio-btn { margin-top:12px ; font-size:16px; margin-bottom:12px;}

.select-radio-btn .checkbox-inline { margin-right:30px; }

.select-radio-btn .checkbox-inline input { margin-top:-4px; }

.add-survey-btn, .add-survey-btn:hover, .add-survey-btn:focus  { 
 background:#5db016; border-color:#5db016; color:#fff; border-radius:10px;outline:none; padding:1px 7px; margin-bottom:12px; }

.edit-survey-btn, .edit-survey-btn:hover, .edit-survey-btn:focus { 
  background:#f18f20; border-color:#f18f20; color:#fff; border-radius:10px;outline:none; padding:1px 7px; margin-bottom:10px;}
  
.survey-btns-wrap { float:right; margin-top:27px; }

.page-header-wrap { text-align: center; 
    background: #fff; padding: 0px 0 10px; margin: 12px 0 0;}
  
.page-header-wrap h3 { color: #333; font-weight: 900; display: inline-block; line-height:1.2 }

/* added 10th Jan 2017 */

.btn-is-green  {
  position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #5cb85c;
    border:1px solid #5cb85c;
    font-weight: 700;
    font-size:16px;
  display:inline-block;
    padding: 8px 20px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0px 7px 0px rgba(93,176,22,.9), 0px 9px 20px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 7px 0px rgba(93,176,22,.9), 0px 9px 20px rgba(0,0,0,.8);
    box-shadow: 0px 7px 0px rgba(93,176,22,.9), 0px 9px 20px rgba(0,0,0,.8);
    margin:15px auto;
  
  text-align: center;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn-is-green:hover  {
  color:#fff;
  text-decoration:none;
}

.btn-is-green:hover   {
  -webkit-box-shadow: 0px 7px 0px rgba(93,176,22,.9), 0px 9px 25px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 7px 0px rgba(93,176,22,.9), 0px 9px 25px rgba(0,0,0,.8);
    box-shadow: 0px 7px 0px rgba(93,176,22,.9), 0px 9px 25px rgba(0,0,0,.8);
}

.btn-is-green:focus {
  outline:none; color:#fff; text-decoration:none;
}

.btn-is-green:active {
    -webkit-box-shadow: 0px 3px 0px rgba(93,176,22,.8), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(93,176,22,.8), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(93,176,22,.8), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
  color:#fff;
    text-decoration:none;
}

.small-btn-is-green  {
  position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #5cb85c;
    border: 1px solid #5cb85c
    -webkit-box-shadow: 0px 5px 0px rgba(93,176,22,.9), 0px 7px 15px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 5px 0px rgba(93,176,22,.9), 0px 7px 15px rgba(0,0,0,.8);
    box-shadow: 0px 5px 0px rgba(93,176,22,.9), 0px 7px 15px rgba(0,0,0,.8);
    margin:8px auto;
  padding:2px 6px;
  text-align: center;
  font-size:12px;
  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.small-btn-is-green:hover  {
  color:#fff;
  text-decoration:none;
}

.small-btn-is-green:hover   {
  -webkit-box-shadow: 0px 5px 0px rgba(93,176,22,.9), 0px 9px 16px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 5px 0px rgba(93,176,22,.9), 0px 9px 16px rgba(0,0,0,.8);
    box-shadow: 0px 5px 0px rgba(93,176,22,.9), 0px 9px 16px rgba(0,0,0,.8);
}

.small-btn-is-green:focus {
  outline:none; color:#fff;
}

.small-btn-is-green:active {
    -webkit-box-shadow: 0px 3px 0px rgba(93,176,22,.8), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(93,176,22,.8), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(93,176,22,.8), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
  color:#fff;
    text-decoration:none;
}

.save-contd-btn   {
   margin:25px auto; 
}



/**** media styles starts here ****/

@media (min-width: 768px) and (max-width: 991px) { 

 .project-name {
   font-size:16px !important;
 }
 
 #rsv {
  font-size:19px !important;
}
 
.ad-left, .ad-right  {
 margin:0px auto;
}

.ad-bottom {
  margin:0px auto 30px;
}

.sign-up-bg, .ad-space-bg {
  height:70%; height:70vh; 
}

.navbar-default .navbar-nav>li>a {
    padding:10px 8px 5px;
}

.menu-right-options {
   margin-top:25px;
 }
 
 .upload-bic-bg {
  height: 250px;
}

.upload-pic {
  top: 48%;
}

.upload-pic_small {
    top: 44%;
}

.survey-btns-wrap { margin-top:23px; }

}


@media (min-width: 992px) and (max-width: 1199px) {

.upload-bic-bg {
  height: 390px;
  margin-top:10px;
}

.upload-pic {
  top: 49%;
}

.upload-pic_small {
    top: 43%;
}

.survey-btns-wrap { margin-top:16px; }

}

/********* NOTE: navbar-header class has been made to hide to match the design *********/

@media (min-width: 768px) {
  .navbar-header {
  display:none;
  }
}

@media (max-width: 991px) {

 .green-btn, .blue-btn {
   width:initial; text-indent:0px;
 }
 
 .blue-btn  i {
   text-indent:0;
 }

}

@media  (max-height: 559px)   { 

 .sign-up-bg, .ad-space-bg {
  height:127%; height:127vh; 
 }

}

@media  (min-height: 560px) and (max-height: 619px)   { 

 .sign-up-bg, .ad-space-bg {
  height:117%; height:117vh; 
 }

}


@media  (min-height: 620px) and (max-height: 700px)   { 

 .sign-up-bg, .ad-space-bg {
  height:107%; height:107vh; 
 }

}

@media  (min-height: 701px) and (max-height: 779px)   { 

 .sign-up-bg, .ad-space-bg {
  height:91%; height:91vh; 
 }

}

@media  (min-height: 780px) and (max-height: 898px)  { 

 .sign-up-bg, .ad-space-bg {
  height:87%; height:87vh; 
 }

}

@media (min-height: 899px) and (max-height: 1000px)  { 

 .sign-up-bg, .ad-space-bg {
  height:82%; height:82vh; 
 }

}

@media (min-height: 1001px) { 

 .sign-up-bg, .ad-space-bg {
  height:70%; height:70vh; 
 }

}

/*added by -rohitas */
.progress-bar{
  background-color:transparent;
}

.progress-bar-custom{
    display: inline-block;float: none !important;
    box-shadow: none;
  }

.progress-bar-text{
    color: #9b9b9b;
    line-height: 1.3;
    position: absolute;
    bottom: -45px;
    width: 80%;
    left: 10%;
    font-size: 14px;
}

.input-text-first{ 
 color:#b0b0b0;border-radius: 0;
}
/*added by -rohitas */